@using Haondt.Web.Extensions
@using Haondt.Web.Views

@model IndexModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Model.Title</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://unpkg.com/htmx.org@1.9.6"></script>

        <script type="text/hyperscript" src="@Url.Content("~/assets/behaviours._hs")"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

        <link rel="stylesheet" href="@Url.Content("~/assets/style.css")" />


    </head>
    <body>
        <div id="modal-container"></div>
        <div id="toast-container" class="m-10 pos-fixed flex flex-col gap-10" style="top: 0; max-width: 300px;"></div>
        <div class="w-full flex flex-col">
            <div class="flex flex-col align-center gap-10 mt-10 mb-20">
                <h1>@Model.Title</h1>
                @await Html.PartialAsync(Model.NavigationBar)
            </div>
            <div id="content">
                @await Html.PartialAsync(Model.Content)
            </div>
        </div>
    </body>
    <footer style="height: 50px;"></footer>
</html>
