@using Haondt.Web.Extensions
@using Haondt.Web.Views
@model ModalModel

<div id="modal"
	_="on closeModal add .closing
			then wait for animationend
			then remove me">
	<div class="modal-underlay" @if (Model.AllowClickOut)
	{
		<text>_="on click trigger closeModal"</text>
	}
	></div>
	<div class="modal-content panel">
        @await Html.PartialAsync(Model.Content)
	</div>
</div>
