@using Haondt.Web.Views
@model NavigationBarModel

<ul id="navigationBar" class="flex flex-row gap-20" _="
    on on_navigate(@NavigationBarModel.CurrentViewKey) from body
        set my @@hx-vals to `{&quot;@NavigationBarModel.CurrentViewKey&quot;:&quot;$@NavigationBarModel.CurrentViewKey&quot;}`
        trigger refreshNavigationBar on me
    end
" hx-trigger="refreshNavigationBar" hx-get="/partials/navigationBar" hx-swap="outerHTML" >
    @foreach (var (pageName, isSelected) in Model.Pages)
    {
        <li class="navigation @(isSelected ? "selected" : "")">
            <button class="navigation @(isSelected ? "selected" : "")"
                hx-get="/partials/@pageName" hx-target="#content" hx-swap="innerHTML"
                >@pageName.ToString().ToLower()</button>
        </li>
    }
</ul>
