@using Haondt.Web.Exceptions
@using Haondt.Web.Views
@model ToastModel

@foreach(var toast in Model.Toasts)
{
    <div class="toast @if(toast.Severity == ToastSeverity.Error) { <text>error</text> }" 
        _="on load add .created to me then wait 5s then remove .created from me then wait for animationend then send deleted to me end
           on deleted remove me" style="width: 300px;">
        <div class="flex flex-row j-between">
            <h4>@toast.Severity.ToString()</h4>
            <button class="icon" type="button" _="on click send deleted to the closest <div.toast /> end">
                <i class="fa-solid fa-x fs-12"></i>
            </button>
        </div>
        <p class="fs-12">@toast.Message</p>
    </div>
}
