.content-container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    max-width: 1370px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 25px;
    gap: 10px;
}

.content-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 15px;
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.request-block, .response-block {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    border-radius: 5px;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}



.request-block > textarea, .response-block > .code-block {
    background-color: #343434;
    color: white;
    font-family: monospace;
    padding: 15px;
    flex: 1 1 auto;
}

.code-block {
    white-space: pre-wrap;
    overflow: auto;
}

.request-block > textarea {
    border: none;
    outline: none;
    overflow: auto;
    resize: none;
}


.request-block > span, .response-block span {
    margin: 10px;
}

.request-row {
    height: 350px;
}

.key-table-container {
    background: #242424;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    width: 100%;
}

table.key-table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

table.key-table > tr > th {
    font-weight: normal;
}

table.key-table > tr > td {
    text-align: left;
}

table.key-table > tr > td > .mat-icon {
    display: block;
    margin: auto;
}

table.key-table > tr > td, table.key-table > tr > th {
    padding-top:10px;
    padding-bottom:10px;
}


table.key-table > tr {
    border-bottom: 1px solid grey;
}
table.key-table > tr:last-child {
    border-bottom: none;
}