<div class="content-container">
    <h1 mat-dialog-title>{{ data.title }} </h1>
    <div mat-dialog-content class="content">
        <!-- Get Transaction -->
        <div class="content-section">
            <div class="content-row">
                <span>Transaction ID:</span>
                <input class="transaction-id-input" type="text" [(ngModel)]="transactionId">
                <span class="spacer"></span>
                <button mat-raised-button (click)="getTransactionData()" color="primary" [disabled]="working">Get Transaction</button>
                <mat-spinner *ngIf="gettingTransaction" diameter="25" color="accent" class="test-spinner"></mat-spinner>
            </div>
            <div class="content-row" *ngIf="getTransactionError">
                <span class="error">{{ getTransactionError }}</span>
            </div>
        </div>

        <!-- Configure data to pull from transaction -->
        <div class="content-section-sep" *ngIf="transactionData"></div>
        <div class="content-section" *ngIf="transactionData">
            <div class="content-row">
                <p> Select fields:</p>
            </div>
            <div class="content-row">
                <mat-chip-listbox multiple="true">
                    <mat-chip-option *ngFor="let field of fields" [selected]="field.selected" (click)="onCaseFieldClick(field)">
                        {{ field.viewValue }}
                    </mat-chip-option>
                </mat-chip-listbox>
            </div>
            <div class="content-row">
                <mat-form-field appearance="fill">
                    <mat-label>Folder</mat-label>
                    <input type="text" matInput [ngModel]="folderName" [matAutocomplete]="auto" (ngModelChange)="folderNameAutocompleteChanged($event)">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredFolderNameOptions" [value]="option">{{ option }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-icon matTooltip="Seperate nested directories with a forward slash. Example: Foo/Bar">info</mat-icon>
                <mat-radio-group class="folder-options-radio-group" [(ngModel)]="folderCreationOption">
                    <mat-radio-button value="use-existing-or-create" selected="true">Use Existing Folder If Exists</mat-radio-button>
                    <mat-radio-button value="force-create-new">Create New Folder</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="content-row">
                <mat-checkbox [(ngModel)]="configureExpectedValues">Configure expected values</mat-checkbox>
            </div>
        </div>

        <!-- Configure expected values -->
        <div class="content-section-sep" *ngIf="configureExpectedValues"></div>
        <div class="content-section" *ngIf="configureExpectedValues">
            <div class="content-row">
                <mat-form-field class="field-select" appearance="fill">
                    <mat-label>Select Field</mat-label>
                    <mat-select [(value)]="selectedField">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let option of allFolderNameOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <input class="transaction-id-input" type="text" [(ngModel)]="expectedFieldValue">
                <button mat-raised-button color="primary" (click)="addExpectedValue()">Add</button>
            </div>
            <mat-chip-listbox multiple="true">
                <mat-chip-option *ngFor="let field of allFolderNameOptions">
                    {{ field }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div class="content-section-sep"></div>
        <div class="content-section">
            <div class="content-row">
                <button mat-raised-button color="primary" #r (click)="createCase(r)">Create Case</button>
            </div>
            <div class="content-row" *ngIf="createCaseError">
                <span class="error">{{ createCaseError }}</span>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button (click)="onCloseClick()" [disabled]="working">Close</button>
    </div>
</div>