.content-container {
    max-width: 1225px;
    min-width: 600px;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.transaction-id-input {
    font: 400 14px/20px Roboto, sans-serif;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    backdrop-filter: brightness(110%);
}

.transaction-id-input:focus {
    backdrop-filter: brightness(120%);
}

span, p {
    color: white;
}

.mat-mdc-dialog-actions {
    justify-content: end;
}

.error {
    color: #f55246;
}