.content-container {
    max-width: 1225px;
    min-width: 650px;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

span, p {
    color: white;
}

.mat-mdc-dialog-actions {
    justify-content: end;
}

.error {
    color: #f55246;
}

.folder-options-radio-group {
    width: 240px;
}

.success {
    color: #73f0b4;
}

.white-button {
    color: white
}