<div class="content-container">
    <div mat-dialog-content class="content">
        <!-- Get Transaction -->
        <div class="content-section">
            <div class="content-row">
                <mat-form-field appearance="fill" class="remove-padding">
                    <mat-label>Transaction ID</mat-label>
                    <input [disabled]="working" matInput type="text" [(ngModel)]="transactionId">
                </mat-form-field>
                <span class="spacer"></span>
                <button mat-raised-button (click)="getTransactionData()" color="primary" [disabled]="working">Get Transaction</button>
                <mat-spinner *ngIf="gettingTransaction" diameter="25" color="accent" class="test-spinner"></mat-spinner>
            </div>
            <div class="content-row" *ngIf="getTransactionError">
                <span class="error">{{ getTransactionError }}</span>
            </div>
        </div>

        <!-- Configure data to pull from transaction -->
        <mat-divider *ngIf="transactionData"></mat-divider>
        <div class="content-section" *ngIf="transactionData">
            <div class="content-row">
                <p> Select fields:</p>
            </div>
            <div class="content-row">
                <mat-chip-listbox [disabled]="working" multiple="true">
                    <mat-chip-option *ngFor="let field of fields" [selected]="field.selected" (click)="onCaseFieldClick(field)">
                        {{ field.viewValue }}
                    </mat-chip-option>
                </mat-chip-listbox>
            </div>
            <div class="content-row">
                <mat-form-field class="remove-padding" appearance="fill">
                    <mat-label>Folder</mat-label>
                    <input [disabled]="working" type="text" matInput [ngModel]="folderName" [matAutocomplete]="auto" (ngModelChange)="folderNameAutocompleteChanged($event)">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredFolderNameOptions" [value]="option">{{ option }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-icon matTooltip="Separate nested directories with a forward slash. Example: Foo/Bar">info</mat-icon>
                <mat-radio-group [disabled]="working" class="folder-options-radio-group" [(ngModel)]="folderCreationOption">
                    <mat-radio-button value="use-existing-or-create" selected="true">Use Existing Folder If Exists</mat-radio-button>
                    <mat-radio-button value="force-create-new">Create New Folder</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="content-row">
                <mat-checkbox [disabled]="working" [(ngModel)]="configureExpectedValues">Configure expected values</mat-checkbox>
            </div>
        </div>

        <!-- Configure expected values -->
        <mat-divider *ngIf="configureExpectedValues"></mat-divider>
        <div class="content-section" *ngIf="configureExpectedValues">
            <div class="content-row">
                <mat-form-field class="remove-padding" appearance="fill">
                    <mat-label>Select Field</mat-label>
                    <mat-select [(value)]="selectedExpectedField" (selectionChange)="expectedFieldValueChanged()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let option of fields" [value]="option.viewValue">{{ option.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="remove-padding">
                    <input matInput class="transaction-id-input" type="text" [(ngModel)]="expectedFieldValue">
                </mat-form-field>
            </div>
            <div class="content-row">
                <button mat-stroked-button (click)="loadExpectedValueFromTransaction()">Populate with transaction Value</button>
                <button [disabled]="working" mat-stroked-button (click)="addExpectedValue()">Add</button>
            </div>
            <mat-chip-listbox [disabled]="working" multiple="true">
                <mat-chip *ngFor="let field of expectedFields">
                    {{ field.key }} = {{ field.value.length > 10 ? field.value.slice(0, 7) + "..." : field.value }}
                    <button matChipRemove (click)="removeExpectedFieldChip(field.key)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-listbox>
        </div>

        <!-- Add kvp -->
        <mat-divider></mat-divider>
        <div class="content-section embed" *ngIf="transactionData">
            <div class="content-row">
                <p>Add Key-Value mapping:</p>
            </div>
            <div class="content-row">
                <mat-form-field class="remove-padding" appearance="fill">
                    <mat-label>Store</mat-label>
                    <mat-select [(value)]="createKvpStore" (selectionChange)="createKvpStoreChanged()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let option of createKvpStoreOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="content-row-section" *ngIf="createKvpStore">
                    <mat-form-field class="remove-padding">
                        <mat-label>Key</mat-label>
                        <input matInput class="remove-padding" type="text" [(ngModel)]="createKvpKey">
                    </mat-form-field>
                    <mat-form-field class="remove-padding" appearance="fill">
                        <mat-label>Value</mat-label>
                        <input type="text" matInput [ngModel]="createKvpAutocompleteValue" [matAutocomplete]="auto0" (ngModelChange)="createKvpAutocompleteValueChanged($event)">
                        <mat-autocomplete #auto0="matAutocomplete">
                            <mat-option *ngFor="let option of createKvpAutocompleteOptions" [value]="option">{{ option }}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="content-row" *ngIf="createKvpStore">
                <mat-form-field class="remove-padding" appearance="fill">
                    <mat-label>Select Field</mat-label>
                    <mat-select [(value)]="createKvpField">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let option of fields" [value]="option.viewValue">{{ option.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="createKvpExtractKey()" color="primary">Extract key</button>
                <button mat-raised-button (click)="createKvp()" color="accent">Map key</button>
            </div>
            <div class="content-row">
                <span class="success" *ngIf="createdKvp">Created mapping {{ createdKvp }}</span>
                <span class="error" *ngIf="createdKvpError">{{ createdKvpError }}</span>
            </div>
        </div>

        <!-- Create case -->
        <div class="content-section">
            <div class="content-row">
                <button mat-raised-button color="accent" (click)="createCase()" [disabled]="creatingCase || working || !transactionData">Create Case</button>
                <mat-spinner *ngIf="creatingCase" diameter="25" color="accent" class="test-spinner"></mat-spinner>
                <span class="success" *ngIf="createdCase">Created case {{ createdCase }}</span>
                <span class="error" *ngIf="createCaseError">{{ createCaseError }}</span>
            </div>
        </div>
    </div>
</div>