.content-container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    max-width: 1370px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 25px;
    gap: 10px;
}

.pp-accordion-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pp-accordion-content-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.state-attribute {
    color: white;
}
.state-attribute.state-completed {
    color: rgb(132, 224, 46);
}
.state-attribute.state-failed {
    color: rgb(207, 81, 81);
}
.state-attribute.state-stopped {
    color: rgb(224, 162, 46);
}
.state-attribute.state-running {
    color: rgb(46, 168, 224);
}

.state-attribute > span {
    background: #242424;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

table.status-table > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}

.progress-bar-gap {
    height: 4px;
}

.accordion-panel-title {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.job-type-radio-group {
    display: flex;
    gap: 10px;
}

.dry-run-attribute {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.dry-run-sample {
    white-space: pre-wrap;
}

.dry-run-attribute > span, .dry-run-attribute > div.dry-run-sample {
    background: #242424;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.dry-run-sample {
    font-family: monospace;
}

table.dry-run-response-table > tr > td {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.mat-divider {
    border-top-color: grey;
}