.content-container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    max-width: 1370px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 25px;
    gap: 10px;
}

.content-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 15px;
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

h3 {
    margin: 0;
}