.content-container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    max-width: 1370px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 25px;
    gap: 10px;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.content-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

h3 {
    margin: 0;
}

.pair-table-container {
    background: #242424;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

table.pair-table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

table.pair-table > tr > th {
    font-weight: normal;
}

table.pair-table > tr > td {
    text-align: center;
}

table.pair-table > tr > td > .mat-icon {
    display: block;
    margin: auto;
}

table.pair-table > tr > td, table.pair-table > tr > th {
    padding-top:10px;
    padding-bottom:10px;
}


table.pair-table > tr {
    border-bottom: 1px solid grey;
}
table.pair-table > tr:last-child {
    border-bottom: none;
}

.busy-progress-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #303030;
}