<div class="content">
    <div class="content-region">
        <div class="content-section">
            <button mat-raised-button #r (click)="getStats(r)">Get Stats</button>
        </div>
        <div class="content-section">
            <span>Num cases: {{ clientInfo?.count }}</span>
        </div>
    </div>
    <div class="content-region">
        <div class="content-section">
            <button mat-raised-button #r>Import from postman file</button>
        </div>
    </div>
    <div class="content-region">
        <div class="content-section">
            <button mat-raised-button>Sort</button>
        </div>
    </div>
    <div class="content-region">
        <div class="content-section">
            <button mat-raised-button>Add Case from Transaction</button>
        </div>
    </div>
</div>