.content-container {
    display: flex;
    justify-content: center;

}

.content {
    display: flex;
    max-width: 1370px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 25px;
    gap: 10px;
}

.content-region {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cell-content {
    display: flex;
    flex-direction: column;
}

.content-card {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
