<div class="content-container">
    <div class="content">
        <mat-card class="content-card">

        <table border=1 frame=void rules="rows">
            <tr>
                <td>
                    <button color="primary" mat-raised-button #r (click)="getStats(r)">Get Stats</button>
                </td>
                <td>
                    <div class="cell-content">
                        <span>Fetch stats about the tests</span>
                        <span *ngIf="clientInfo">Num cases: {{ clientInfo.count }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button color="primary" mat-raised-button #r (click)="sort(r)">Sort</button>
                </td>
                <td>
                    <span>Sort tests alphabetically</span>
                </td>
            </tr>
            <tr>
                <td>
                    <button color="primary" mat-raised-button #r (click)="addCaseFromTransaction(r)">Add Case from Transaction</button>
                </td>
                <td>
                    <span>Generate a test case and optionally the test itself from an existing transaction.</span>
                </td>
            </tr>
        </table>
        </mat-card>
    </div>
</div>