<div class="content-container">
    <div class="content">
        <div class="content-region">
            <div class="content-section">
                <button mat-raised-button #r (click)="getStats(r)">Get Stats</button>
                <span>Num cases: {{ clientInfo?.count }}</span>
            </div>
        </div>
        <div class="content-region">
            <div class="content-section">
                <button mat-raised-button #r (click)="sort(r)">Sort</button>
                <button mat-raised-button>Add Case from Transaction</button>
            </div>
        </div>
    </div>
</div>