<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="links">
            <a mat-button [routerLink]="'/firefly-iii'" routerLinkActive="router-link-active">Firefly-iii PP</a>
            <a mat-button [routerLink]="'/thunder'" routerLinkActive="router-link-active">Thunder</a>
            <a mat-button [routerLink]="'/node-red'" routerLinkActive="router-link-active">Node-Red</a>
            <a mat-button [routerLink]="'/auto-reconcile'" routerLinkActive="router-link-active">Reconcile</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>