/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

ul {
	list-style-type: none;
}

input {
	background: none;
}

input, textarea {
	border: none;
	border-bottom: 1px solid var(--color-dark-fg);
	color: var(--color-bright-fg);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

textarea {
	background: var(--color-bright-bg);
}

input:focus-visible, textarea:focus-visible {
	border: none;
	border-bottom: 1px solid var(--color-accent);
}

.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-grow { flex-grow: 1; }
.flex-wrap { flex-flow: wrap; }

.align-start { align-items: start; }
.align-center { align-items: center; }
.align-end { align-items: end; }

.gap-5 { gap: 5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }
.gap-25 { gap: 25px; }
.gap-30 { gap: 30px; }
.gap-35 { gap: 35px; }
.gap-40 { gap: 40px; }
.gap-45 { gap: 45px; }
.gap-50 { gap: 50px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }

.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-25 { padding: 25px; }
.padding-30 { padding: 30px; }

.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }
.m-30 { margin: 30px; }

.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-50 { padding-bottom: 50px; }

.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }

.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }

.fs-8 { font-size: 8pt; }
.fs-10 { font-size: 10pt; }
.fs-12 { font-size: 12pt; }
.fs-14 { font-size: 14pt; }
.fs-16 { font-size: 16pt; }
.fs-18 { font-size: 18pt; }
.fs-20 { font-size: 20pt; }
.fs-22 { font-size: 22pt; }

.w-full { width: 100%; }

span.spacer { flex: 1 0 auto; }

.pos-absolute { position: absolute; }
.pos-relative { position: relative; }
.pos-sticky { position: sticky; }
.pos-fixed { position: fixed; }

.display-none { display: none; }

.j-center { justify-content: center; }
.j-evenly { justify-content: space-evenly; }
.j-between { justify-content: space-between; }
.j-end { justify-content: end; }

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.75rem;
}
p {
    font-size: 1.15rem;
}

.of-auto { overflow: auto; }

.bg-bb { background-color: var(--color-bright-bg); }
.bg-bf { background-color: var(--color-bright-fg); }
.bg-db { background-color: var(--color-dark-bg); }
.bg-df { background-color: var(--color-dark-fg); }
.bg-a { background-color: var(--color-accent); }

.fg-bb { color: var(--color-bright-bg); }
.fg-bf { color: var(--color-bright-fg); }
.fg-db { color: var(--color-dark-bg); }
.fg-df { color: var(--color-dark-fg); }
.fg-a { color: var(--color-accent); }
