/******************/
/* project styles */
/******************/

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: var(--color-dark-bg);
    color: var(--color-bright-fg);
    min-width: 320px;
}

button {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-fg);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}


button:hover:not(:disabled).positive {
    color: var(--color-positive);
}

button:hover:not(:disabled).negative {
    color: var(--color-negative);
}


button:not(:disabled) {
    cursor: pointer;
}

button:hover:not(:disabled) {
    color: var(--color-accent);
    background-color: var(--color-bright-bg);
}

button.icon {
    padding: 0;
    background-color: initial;
}

.form-error {
    color: var(--color-negative);
}

.card {
    border: 1px solid var(--color-dark-fg);
    border-radius: 12px;
    max-width: 1000px;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.hidden {
    visibility: hidden;
}

span.tooltip {
    position: absolute;
    transform: translateY(calc(-100% - 5px));
    background: var(--color-bright-bg);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

span.tooltip.show {
    visibility: visible;
    opacity: 1;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 2000;
}


::-webkit-scrollbar-track {
    background: var(--color-dark-bg);
    z-index: 2001;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bright-bg);
    z-index: 2001;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-fg);
}

::-webkit-scrollbar-corner {
    background: var(--color-bright-bg);
    z-index: 2001;
}

.panel {
    background-color: var(--color-bright-bg);
    border-radius: 8px;
    padding: 20px;
}

.panel ::-webkit-scrollbar-track {
    background: var(--color-bright-bg);
}
.panel ::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-bg);
}
.panel ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-fg);
}
.panel ::-webkit-scrollbar-corner {
    background: var(--color-dark-bg);
}

.panel button {
    background-color: var(--color-bright-bg);
    color: var(--color-dark-fg);
}


li.navigation.selected {
    border-bottom: 2px solid var(--color-accent);
}

table {
    border-collapse: collapse;
}
th {
    font-weight: bold;
    padding-bottom: 10px;
}
thead {
    border-bottom: 1px solid white;
}
td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
}

.toast {
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: var(--color-bright-bg);
    border-radius: 8px;
    padding: 10px;
}

.toast.created {
    opacity: 1;
}

.toast.error {
    background: var(--color-negative);
}

.toast button:hover {
    background-color: initial;
}
.toast.error button.icon:not(:hover) {
    color: var(--color-bright-fg);
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;
    border: 1px solid var(--color-dark-fg);

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

