/* #region page */

.button-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 25px;
    gap: 15px;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mat-mdc-card {
    padding: 10px;
}


/* #endregion */

/* #region tree control */

.tree-node-container {
    padding-left: 57px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden-node {
    display: none;
}

.mat-tree-node {
    flex-direction: column;
}

.mat-nested-tree-node {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* #endregion */

/* #region parent nodes */

.tests-parent-node {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tests-parent-node-container {
    display: flex;
    width: 100%;
    border-radius: 25px;
}

.tests-parent-node-container:hover {
    backdrop-filter: brightness(120%);
}

.tests-parent-node-container.force-show {
    backdrop-filter: brightness(120%);
}

/* #endregion */

/* #region leaf nodes */

.tests-leaf-node {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.tests-leaf-node-container {
    width: 100%;
    border-radius: 25px;
}

.tests-leaf-node-container:hover {
    backdrop-filter: brightness(120%);
}

.tests-leaf-node-container.force-show {
    backdrop-filter: brightness(120%);
}

.spacer {
    flex: 1 1 auto;
}

/* #endregion */

/* #region input field */

mat-form-field {
    margin-bottom: -1.25em;
}

.node-name-input {
    font: 400 14px/20px Roboto, sans-serif;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    border-radius: 25px;
    backdrop-filter: brightness(110%);
}

.node-name-input:focus {
    backdrop-filter: brightness(120%);
}

/* #endregion */

/* #region menu */
.parent-node-more {
    display: none;
}

.parent-node-more.force-show {
    display: inline-block;
}

.tests-parent-node-container:hover .parent-node-more {
    display: inline-block;
}

.leaf-node-more {
    display: none;
}

.leaf-node-more.force-show {
    display: inline-block;
}

.tests-leaf-node-container:hover .leaf-node-more {
    display: inline-block;
}

.test-node-more {
    display: none;
}

.test-node-more.force-show {
    display: inline-block;
}

.tests-test-node-container:hover .test-node-more {
    display: inline-block;
}



.menu-content {
    display: flex;
    flex-direction: column;
}

.menu-content > button {
    justify-content: left;
}

/* #endregion */

/* #region test node */

.tests-test-node-container-background {
    background-color: #366258;
}

.tests-test-node-row:not(.tests-test-node-content):hover {
    backdrop-filter: brightness(120%);
}

.tests-test-node-row {
    display: flex;
}

.tests-test-node-content-row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.tests-test-node {
    display: flex;
    flex-direction: column;
}

.tests-test-node-content.hidden-node {
    display: none;
}

.tests-test-node-content-wrapper {
    margin-left: 57px;
}
.tests-test-node-content {
    display: flex;
    flex-direction: column;
}

.checks-container {
    margin-left: 57px;
}

.checks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.check > h1 {
    margin-bottom: 0;
    margin-left: 15px;
    margin-right:  15px;
}

/* #endregion */

.cdk-drag-preview {
    opacity: 0.5;
    background: #4f4f4f;
    border-radius: 25px;
    color: white;
}

.cdk-drag-preview.tests-test-node-container-background {
    background: #366258;
}

.cdk-drop-list-dragging {
    backdrop-filter: brightness(80%);
    border-radius: 25px;
}

.cdk-drag-placeholder {
    background-color: transparent;
}

