<div class="content">
    <div class="content-section">
        <div class="button-row">
            <button mat-raised-button>Load test file</button>
            <button mat-raised-button>Export test file</button>
            <button mat-raised-button>Load postman file</button>
            <button mat-raised-button>Export postman file</button>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary">Run tests</button>
            <button mat-raised-button color="green" (click)="saveTestsToMongo()">Save Tests</button>
            <span class="spacer"></span>
            <button mat-raised-button color="warn" (click)="loadTestsFromMongo()">Discard changes</button>
        </div>
    </div>
    <div></div>
    <div class="content-section">
        <div class="button-row">
            <button mat-raised-button (click)="addTestNodeToRoot()">Add Test</button>
            <button mat-raised-button (click)="addFolderNodeToRoot()">Add Folder</button>
            <button mat-raised-button>Expand All</button>
            <button mat-raised-button>Collapse All</button>
        </div>
    </div>
    <div class="content-section">
        <mat-card>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tests-tree">
            <!-- leaf node-->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle cdkDropList (cdkDropListDropped)="drop(node)">
                <div *ngIf="isFolderNode(node)" class="tests-leaf-node-container" [class.force-show]="leafFolderMenuOpen.menuOpen" cdkDrag
                    (mouseenter)="mouseEnter(node)" (mouseleave)="mouseLeave(node)">
                    <div class="tests-leaf-node">
                        <button mat-icon-button matTreeNodeToggle>
                            <mat-icon class="mat-icon-rtl-mirror">expand_more</mat-icon>
                        </button>
                        <input class="node-name-input" type="text" [(ngModel)]="node.name">
                        <span class="spacer"></span>
                        <button mat-icon-button class="leaf-node-more" [class.force-show]="leafFolderMenuOpen.menuOpen" [matMenuTriggerFor]="leafFolderMenu" #leafFolderMenuOpen="matMenuTrigger">
                            <mat-icon>more_verti</mat-icon>
                        </button>
                        <mat-menu #leafFolderMenu>
                            <ng-template matMenuContent>
                                <div class="menu-content">
                                    <button mat-button (click)="addTestNode(node)">Add Test</button>
                                    <button mat-button (click)="addFolderNode(node)">Add Folder</button>
                                    <button mat-button color="accent">Sort contents</button>
                                    <div class="menu-spacer"></div>
                                    <button mat-button (click)="deleteNode(node)" color="warn">Delete</button>
                                </div>
                            </ng-template>
                        </mat-menu>
                    </div>
                </div>
                <div class="tests-test-node-container-background tests-leaf-node-container" cdkDrag
                    (mouseenter)="mouseEnter(node)" (mouseleave)="mouseLeave(node)">
                    <div *ngIf="isTestNode(node)" class="tests-test-node-container">
                        <div class="tests-test-node">
                            <div class="tests-test-node-row">
                                <button mat-icon-button (click)="toggleExpanded(node)"><mat-icon>{{ isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon></button>
                                <input class="node-name-input" type="text" [(ngModel)]="node.name">
                                <span class="spacer"></span>
                                <button mat-icon-button class="test-node-more" [class.force-show]="testMenuOpen.menuOpen" [matMenuTriggerFor]="testMenu" #testMenuOpen="matMenuTrigger">
                                    <mat-icon>more_verti</mat-icon>
                                </button>
                                <mat-menu #testMenu>
                                    <ng-template matMenuContent>
                                        <div class="menu-content">
                                            <button mat-button (click)="addCheck(node)">Add Check</button>
                                            <button mat-button (click)="addCheckFromTransaction(node)">Add Checks From Transaction</button>
                                            <button mat-button (click)="addCase(node)">Add Case</button>
                                            <button mat-button (click)="addCaseFromTransaction(node)">Add Case From Transaction</button>
                                            <div class="menu-spacer"></div>
                                            <button mat-button (click)="deleteNode(node)" color="warn">Delete</button>
                                        </div>
                                    </ng-template>
                                </mat-menu>
                            </div>
                            <div class="tests-test-node-content-wrapper">
                                <div class="tests-test-node-row tests-test-node-content" [class.hidden-node]="!isExpanded(node)">
                                    <div class="tests-test-node-content-row">
                                        <button mat-icon-button (click)="toggleChecksExpanded(node)"><mat-icon>{{ isChecksExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon></button>
                                        Checks
                                    </div>
                                    <div class="checks-container test-test-node-content-row" *ngIf="isChecksExpanded(node)">
                                        <div class="checks">
                                            <div class="check" *ngFor="let check of node.checks">
                                                <input class="node-name-input" type="text" [(ngModel)]="check.name">
                                                <mat-icon>chevron_right</mat-icon>
                                                <input class="node-name-input" type="text" [(ngModel)]="check.key">
                                                <h1>=</h1>
                                                <input class="node-name-input" type="text" [(ngModel)]="check.value">
                                                <span class="spacer"></span>
                                                <button mat-icon-button (click)="removeCheck(node, check)" color="warn"><mat-icon>delete</mat-icon></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tests-test-node-content-row">
                                        <button mat-icon-button (click)="toggleCasesExpanded(node)"><mat-icon>{{ isCasesExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon></button>
                                        Cases
                                    </div>
                                    <div class="cases-container test-test-node-content-row" *ngIf="isCasesExpanded(node)">
                                        <div class="cases">
                                            <div class="case" *ngFor="let case of node.cases; let i = index">
                                                <div class="case-node-content-row">
                                                    <button mat-icon-button (click)="toggleCaseExpanded(case)"><mat-icon>{{ isCaseExpanded(case) ? 'expand_more' : 'chevron_right' }}</mat-icon></button>
                                                    <span class="case-title">Case {{ i+1 }}</span>
                                                    <span class="spacer"></span>
                                                    <div>

                                                    <button mat-icon-button (click)="case.body.unshift({key: '', value: ''})"><mat-icon>add</mat-icon></button>
                                                    <button mat-icon-button (click)="node.cases.splice(node.cases.indexOf(case), 1)" color="warn"><mat-icon>delete</mat-icon></button>
                                                    </div>
                                                </div>
                                                <div class="case-node-content-row" *ngIf="isCaseExpanded(case)">
                                                    <div class="case-row-container">
                                                        <div class="case-row" *ngFor="let row of case.body">
                                                            <input class="node-name-input" type="text" [(ngModel)]="row.key">
                                                            <h1>=</h1>
                                                            <input class="node-name-input" type="text" [(ngModel)]="row.value">
                                                            <span class="spacer"></span>
                                                            <button mat-icon-button (click)="case.body.splice(case.body.indexOf(row), 1)" color="warn"><mat-icon>delete</mat-icon></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tree-node>
            <!-- parent node -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" cdkDropList (cdkDropListDropped)="drop(node)">
                <div class="tests-parent-node" cdkDrag
                    (mouseenter)="mouseEnter(node)" (mouseleave)="mouseLeave(node)">
                    <div *ngIf="isFolderNode(node)" class="tests-parent-node-container" [class.force-show]="parentFolderMenuOpen.menuOpen">
                        <button mat-icon-button matTreeNodeToggle>
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                            </mat-icon>
                        </button>
                        <input class="node-name-input" type="text" [(ngModel)]="node.name">
                        <span class="spacer"></span>
                        <button mat-icon-button class="parent-node-more" [class.force-show]="parentFolderMenuOpen.menuOpen" [matMenuTriggerFor]="parentFolderMenu" #parentFolderMenuOpen="matMenuTrigger">
                            <mat-icon>more_verti</mat-icon>
                        </button>
                        <mat-menu #parentFolderMenu>
                            <ng-template matMenuContent>
                                <div class="menu-content">
                                    <button mat-button (click)="addTestNode(node)">Add Test</button>
                                    <button mat-button (click)="addFolderNode(node)">Add Folder</button>
                                    <button mat-button color="accent">Sort contents</button>
                                    <div class="menu-spacer"></div>
                                    <button mat-button (click)="deleteNode(node)" color="warn">Delete</button>
                                </div>
                            </ng-template>
                        </mat-menu>
                    </div>
                </div>
                <div [class.hidden-node]="!treeControl.isExpanded(node)" class="tree-node-container">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
</mat-card>
    </div>
</div>